@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 265 50% 98%;
  --foreground: 265 40% 20%;
  --primary: 271 100% 74%;
  /* #c07cff */
  --primary-foreground: 0 0% 100%;
  --secondary: 265 100% 70%;
  /* #a566ff */
  --secondary-foreground: 0 0% 100%;
  --accent: 265 30% 90%;
  --accent-foreground: 265 40% 20%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --muted: 265 20% 96%;
  --muted-foreground: 265 10% 40%;
  --card: 0 0% 100%;
  --card-foreground: 265 40% 20%;
  --popover: 0 0% 100%;
  --popover-foreground: 265 40% 20%;
  --border: 265 20% 90%;
  --input: 265 20% 90%;
  --ring: 271 100% 74%;
  --radius: 0.5rem;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}